<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Company</title>
</head>
<body>
    <h1>Choose Company</h1>
    <a href="/auth/create-company">Create a Company</a>
    <a href="/auth/join-company">Join a Company</a>
</body>
</html>