<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Company</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <img class="logo" src="/images/logo.png" alt="logo">
    <h1 class="heading">Choose Company</h1>
    <a href="/auth/create-company">Create a Company</a>
    <a href="/auth/join-company">Join a Company</a>
</body>
</html>