<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
</head>
<body>
    <div>
        <h2>Create a Company</h2>
        <form action="/auth/create-company" method="POST">
            <label for="companyName">Company Name</label>
            <input type="text" name="companyName" id="companyName">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
            <button type="submit">Create Company</button>
        </form>
    </div>
    <div>
        <h2>Join a Company</h2>
        <form action="/auth/join-company" method="POST">
            <label for="companyName">Company Name</label>
            <input type="text" name="companyName" id="companyName">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Join Company</button>
        </form>
    </div>
</body>
</html>