<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Company</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <img class="logo" src="/images/logo.png" alt="logo">
    <h1 class="heading">Create a Company</h1>
    <form class="login" action="/auth/join-company" method="POST">
        <div class="input-group">
            <label for="companyName">Company Name</label>
            <input type="text" name="companyName" id="companyName" required>
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button class="stylebuttons" type="submit">Join Company</button>
    </form>
</body>
</html>