<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <img class="logo" src="/images/logo.png" alt="logo">
    <h2 class="heading">Sign In</h2>
    <form class="login" action="/auth/signin" method="POST">

        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        
        <button class="stylebuttons" type="submit">Sign In</button>

    </form>
</body>
</html>