<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Worker</title>
</head>
<body>
    <h1>Add a Worker</h1>
    <form action="/company/<%=  %>/add-worker">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" required>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" required>
        </div>
        <div>
            <label for="jobTitle">Job Title</label>
            <input type="text" name="jobTitle" id="jobTitle">
        </div>
        <div>
            <label for="team">Team</label>
            <input type="text" name="team" id="team">
        </div>
        <div>
            <label for="manager">Manager</label>
            <input type="text" name="manager" id="manager">
        </div>
        <div>
            <label for="salary">Salary</label>
            <input type="text" name="salary" id="salary">
        </div>
        <div>
            <label for="isManager">Is a Manager</label>
            <input type="checkbox" name="isManager" id="isManager">
        </div>
        <button type="submit">Add Worker</button>
    </form>
</body>
</html>