<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finances</title>
    <link rel="stylesheet" href="/css/company.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Finances</h1>
    <div>
        <h3>Total Spend</h3>
        <p>£<%= totalSalary %></p>
    </div>
</body>
</html>